<div class="card">
        <img class="about" src="images/about_sweetlove/about.png">
    <div class="card-body">
        <h5 class="card-title"> About SweetLove </h5>
            <p class="card-text">
            SweetLove headquarters is a cozy neighborhood bakery where locals are greeted by name. A steady stream of loyal regulars stand side by side with tourists, eager to sample the legendary baked goods.<hr>
            
            From an inventive array of rustic breads to the world-famous six-ounce chocolate chip walnut cookie, everything is baked on-site, fresh every day from the finest natural ingredients. What doesn’t sell that day goes to help feed the hungry—a mission that has been solidly in place since the beginning.<hr>

            The bakery was founded in 2018 by friends Pam and Kourney. At the time, Kourney was in banking and Pam in Fashion. The two, both competitive swimmers, trained together for the Ironman and—not surprisingly, as their tireless workouts left them feeling starved for great food— they began a passionate dialog about creating the world’s greatest Wedding Cakes, Muffins, Cookies & Cupcakes.<hr>

            Within just a few years, Sweet Love Bakery had become a neighborhood institution and a destination for epicurious travelers from around the world. Demand continued to grow. In 2019, to satisfy their regular clientele summering in the Hamptons, the two opened a second bakery in the village of Wainscott on Long Island’s East End. And today, through their website, they now ship their world-famous cookies to happy fans around the globe.</p>
    </div>
</div>