    <div class="card">
        <img class="main_img" src="images/about_sweetlove/main_img.png">
    </div>
    <div id="title"><h3 class="animated 2s flip">SweetLove Bakery</h3></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
                <img class="image-size" src="images/wedding_cakes/img1.png">
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">
                <img class="image-size" src="images/cookies/img9.png">
        </div>

        <div class="col-4">
             <img class="image-size-img-two" src="images/cupcakes/img1.png">
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">
                <img class="image-size-img-one" src="images/muffins/img7.png">
        </div>
    </div>
</div>



    